{% extends "common/base.html" %}
{% block content %}
    <h1>
        <p>Main page</p>
        <a href="/query/1">Query 1</a>
        <br>
        <a href="/query/2">Query 2</a>
        <br>
        <a href="/query/3">Query 3</a>
        <br>
        <a href="/query/4">Query 4</a>
        <br>
        <a href="/query/5">Query 5</a>
        <br>
        <a href="/query/6">Query 6</a>
        <br>
        <a href="/query/7">Query 7</a>
        <br>
        <a href="/query/8">Query 8</a>
        <br>
        <a href="/query/9">Query 9</a>
        <br>
    </h1>
{% endblock %}